* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #000000;
  }
  
  label,
  input,
  textarea {
    display: block;
    margin: 0.5rem 0;
  }
  
  label {
    font-weight: bold;
    color: white;
  }
  
  input,
  textarea {
    font: inherit;
    padding: 0.2rem 0.4rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 50px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    background: #fff5f9;
  }
  
  button {
    font: inherit;
    background: #fca311;
    border: 1px solid #fca311;
    cursor: pointer;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background: #f49906;
    border-color: #f49906;
  }

  #swimlanes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .projects {
    margin: 1rem;
    background: #14213d;
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 500px;
    overflow: auto;
    position: relative;
  }
  
  .projects header {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    width: 100%;
  }
  
  
  .projects h2 {
    margin: 0;
    color: white;
  }
  
  .projects ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    min-height: 100%;
    height: fit-content;
    padding-top: 3.5rem;
  }
  
  .projects li {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
  }
  
  .projects li h2 {
    margin: 0.5rem 0;
    color: #575757;
  }
  
  .projects li h3 {
    color: #575757;
    font-size: 1rem;
  }
  
  .project li p {
    margin: 0;
  }
  
  .droppable {
    background: #fca311;
  }
  
  
  #user-input {
    margin: 1rem;
    padding: 1rem;
    background: #14213d;
  }
  